@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@200&family=Lora:wght@500;700&family=Montserrat:wght@400;500;700&display=swap');

:root {
  --black-background-color: #181719;

  --ff-1: 'Lora', serif;
  --ff-2: 'Montserrat', sans-serif;
  --ff-3: 'Crimson Pro', serif;
}

body {
  background-color: var(--black-background-color);
  color: #ffffff;
  font-family: var(--ff-2);
  font-size: 1rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/** Header styles **/
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 15px 0;
}

.logo {
  text-transform: uppercase;
  font-family: var(--ff-3);
  padding: 8px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 200;
  border: 1px solid #ffffff;
}

.app-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  gap: 20px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--black-background-color);
  z-index: 1;
}

.app-navigation a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  transition: all 500ms ease;
}

.app-navigation a:hover {
  transform: translateY(-3px);
} 

.app-navigation a.active {
  transform: none;
}

.active::after, .app-navigation a:hover::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  border-radius: 50px;
}

.hidden-menu {
  display: none;
}

.mobile-menu {
  position: relative;
  width: 30px;
  cursor: pointer;
  z-index: 2;
}

.mobile-menu span {
  content: '';
  width: 100%;
  height: 3px;
  display: block;
  background-color: #ffffff;
  margin: 5px 0;
  transition: all 200ms ease;
  border-radius: 50px;
}

.active-mobile-menu span:first-child {
  position: absolute;
  transform: rotate(-45deg);
  top: 50%;
}

.active-mobile-menu span:nth-child(2) {
  opacity: 0;
}

.active-mobile-menu span:last-child {
  position: absolute;
  transform: rotate(45deg);
  top: 50%;
}

@media screen and (min-width: 1024px) {
  .app-header {
    width: 80%;
    padding: 30px 0;
  }

  .app-navigation {
    display: flex;
    position: relative;
    flex-direction: row;
    width: inherit;
    height: inherit;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    width: 50%;
  }

  .mobile-menu {
    display: none;
  }
}

/** Main styles **/

.app-main {
  width: 90%;
  margin: 0 auto;
}

.web-info {
  display: flex;
  flex-direction: column;
  gap: 1.7rem;
  justify-content: space-between;
  align-items: flex-start;
}

.page-title {
  font-size: 2rem;
  font-family: var(--ff-1);
  font-weight: 500;
}

.read-more-button {
  font-weight: 700;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #ffffff;
  transition: opacity 200ms ease-in-out;
}

.read-more-button:hover {
  opacity: .6;
}

.web-image {
  position: relative;
  margin: 25px 0;
  padding-bottom: 90px;
}

.image-container img {
  width: 100%;
}

.designer-card {
  background-color: var(--black-background-color);
  width: 80%;
  padding: 25px 20px;
  position: absolute;
  bottom: 0;
  right: 0.8rem;
  box-shadow: var(--black-background-color);
}

.designer-card-header {
  display: flex;
  align-items: center;
}

.designer-card-photo {
  width: 40px;
  margin-right: 10px;
}

.designer-card-photo img {
  width: 100%;
  border-radius: 50%;
}

.designer-info {
  font-weight: 500;
}

.designer-info h4 {
  font-size: .8rem;
  color: #828282;
}

.designer-card-body {
  margin-top: 22px;
  font-size: 1.2rem;
  font-family: var(--ff-1);
  font-weight: 700;
}

@media screen and (min-width: 1024px) {
  .app-main {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .web-info {
    margin-right: 200px;
  }

  .designer-card {
    width: 40%;
  }
}
